/* mobile menu */
html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Crete Round", serif;
  font-style: normal;
}

main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.headline {
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.headline-content {
  width: 60%;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #3c3a39;
}

.link-color {
  color: #fff;
}

.title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  padding-left: 10%;
}

.link {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.main-links,
.mobile-links {
  display: none;
}

.mobile-links.open {
  width: 100%;
  position: fixed;
  height: 100vh;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  flex-wrap: wrap;
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 90vh;
  background: #3c3a39;
}

.close-toggle {
  align-self: flex-end;
  margin-top: 1em;
  margin-right: 1em;
}

.ul {
  width: 100%;
}

.mb-ul {
  width: 100%;
  padding: 0 0 0 1em;
}

.nav-item {
  width: 90%;
  border-bottom: solid 1px #6f6c6b;
  padding: 1em;
}

.mb-link {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
  width: 90%;
  padding-bottom: 0.1em;
}

.mblink-img {
  align-self: center;
  margin-top: 4em;
  background: #0d151e;
  border-radius: 5px;
}

.fa {
  color: #fff;
}

.fa-times {
  color: #67798e;
  font-size: 1.5rem;
}

.fa-bars {
  padding-right: 1.5em;
  font-size: 2rem;
  color: #fff;
}

.fa-envelope-o {
  font-size: 1.5rem;
  color: #fff;
}

.item {
  width: 50%;
}

h1 {
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

#support {
  height: 27px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
  color: #fff5e1;
}

#description {
  height: 123px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.media {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  gap: 0.5em;
}

.bgimage {
  background-image: url("assets/illustration-header-mobile.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.grid {
  display: grid;
  grid-template-rows: auto;
  margin: 0 1em;
  margin-bottom: 80px;
}

.item1 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

h4 {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.item1 h4,
p,
ul > li > a {
  color: #091e42;
}

form button {
  background-color: #ff6b00;
  color: #fff;
  border: 0 solid #fff;
  margin-top: 1em;
  padding: 1em;
  margin-bottom: 4em;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-orange-sm {
  width: fit-content;
  padding: 0.5em;
}

.works {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
  width: 100%;
  position: relative;
}

.bkg {
  background: #091e42;
  border: 1px solid black;
}

.item1-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background: rgba(255, 255, 255, 0);
  width: 100%;
}

.works-description p {
  color: #fff;
}

.go-projects {
  width: 100%;
}

.add-padding {
  padding: 3em;
}

.works-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.item1 img {
  max-width: 100%;
  aspect-ratio: 1/1;
}

.small-mg a {
  padding: 0.8em;
}

.link-item li {
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.link-item li a {
  padding: 0.5em;
}

.button-light li a {
  color: #091e42;
  border: 1px solid #8993a4;
}

.button-dark li a {
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

.popup-links {
  display: flex;
  margin: 0;
  gap: 1em;
  padding: 0;
}

.popup-links > li > a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #3c3a39;
  border: 1px solid #979493;
  padding: 0.3em;
}

.cchange {
  margin-top: 0;
}

.cchange p {
  color: #091e42;
}

.cchange ul > li > a {
  color: #091e42;
}

.works-title h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  border-bottom: 1px solid black;
  padding: 1em;
  text-align: center;
  margin-bottom: 1em;
}

.works-title hr {
  display: none;
}

h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin: 0;
  padding-top: 1em;
}

.button-light {
  display: flex;
  padding: 0;
  gap: 1.5em;
  padding-bottom: 1.5em;
}

.is-link:hover {
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

/* .button-dark li {
  color: #fff;
} */

.button-dark {
  display: flex;
  align-items: center;
  color: #091e42;
  gap: 1.5em;
}

.grid-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  height: 2.5em;
}

.button-orange {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #ff6b00;
  margin: 0;
}

.small-mg {
  padding: 0;
}

.about {
  background: #1c1a19;
}

.about-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#abt-txt {
  color: #fff;
}

.about h2 {
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-bottom: 0;
}

.flex-paragraph {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.button-resume {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #ff6b00;
  width: 20%;
}

.left {
  align-self: flex-start;
  padding-left: 0;
}

.abtbkg {
  background-image: url("assets/illustration-about-me-mobile.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.content-abt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 563px;
  margin: 5% 5% 10% 5%;
}

.hr {
  border: 1px solid white;
  display: block;
  width: 85%;
}

.about-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.about-li {
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: left;
  color: #fff;
}

.disc {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  border-radius: 150px;
  margin-right: 1em;
}

.rsquare {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  transform: rotate(-45deg);
  margin-right: 1em;
  display: block;
}

.square {
  height: 18px;
  width: 18px;
  background: #ff6b00;
  display: block;
  margin-right: 1em;
}

/* footer styles */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.footer-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-p {
  width: 70%;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin-top: 3em;
  color: #172b4d;
  margin-bottom: 2em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

form input {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  margin-bottom: 1.5em;
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  background: #fff;
}

textarea {
  background-color: #fbf8f7;
  border: none;
  padding: 1em;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  width: 100%;
}

.footer-hr {
  border: 1px solid #dfe1e6;
  display: block;
  background: #dfe1e6;
  width: 100%;
}

.media-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 170px;
  gap: 1em;
}

.errorMessage {
  background: #e05304;
  color: #f4f1f0;
  margin-top: 1em;
  width: 100%;
  font-size: 1rem;
  padding: 0.5em;
  display: none;
}

button.footer-b:active {
  border: 1px solid #8993a4;
  color: #f55800;
}

.media-footer .fa {
  color: #505f79;
}

.footer-img {
  margin-bottom: 0.5em;
  background: #0d151e;
  border-radius: 10px;
}

/* mobile popup styles */
.dsk-width {
  display: none;
}

.dsk-width.openModel {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: block;
  justify-content: center;
  border: 1px solid #ebecf0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.popup {
  display: flex;
  flex-direction: column;
  padding: 0 1.5em 1.5em 1.5em;
  gap: 1em;
  background: #fff;
  margin: 10%;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  overflow: hidden;
}

.popup-title {
  font-weight: 400;
  line-height: 44px;
  color: #172b4d;
  padding: 0;
  margin: 0;
}

.close-btn {
  align-self: flex-end;
  border: none;
  padding-top: 0.5em;
  background: #fff;
  font-size: 1.5rem;
}

.popup .fa-times {
  display: block;
  font-size: 1.5rem;
}

.fa-times:hover,
.fa-times:focus {
  cursor: pointer;
}

.image-text {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: flex-start;
}

.popup-img img {
  width: 90%;
}

.button-txt {
  display: flex;
  flex-direction: column;
}

.popup-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
}

.popup-buttons {
  display: flex;
  gap: 1em;
}

.popup-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background-color: #ff6b00;
  padding: 0.5em;
  margin: 0;
}

@media (min-width: 768px) {
  nav {
    display: flex;
    align-items: center;
    height: 40px;
    background: #3c3a39;
    overflow: hidden;
  }

  .fa-bars,
  .fa-times {
    display: none;
  }

  .main-links {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 2em;
  }

  .title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
  }

  .mail {
    margin-right: 6em;
  }

  .headline {
    align-items: flex-start;
  }

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 8em;
  }

  .headline-content {
    width: 40%;
    margin-left: 9em;
  }

  h1 {
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    height: 160px;
    left: 0;
    top: 192px;
  }

  #support {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  #description {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
  }

  .social {
    align-self: flex-start;
    position: absolute;
  }

  .bgimage {
    background-image: url("assets/Illustration-header@2x.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50% 95%;
  }

  /* start works section styles */
  .item1 {
    flex-direction: row;
    gap: 3em;
    align-items: flex-start;
  }

  .item1 img {
    width: 70%;
  }

  .item1-description {
    width: 50%;
    align-items: flex-start;
  }

  form button {
    align-self: flex-start;
    margin-bottom: 0;
    margin-top: 1em;
  }

  .works-title > h2 {
    border: none;
    text-align: left;
    display: flex;
    padding: 0;
    margin: 0;
  }

  .works-title {
    display: flex;
    align-items: center;
    margin-top: 4em;
  }

  .works-title hr {
    border: 1px solid #212121;
    display: inline-block;
    width: 70%;
    height: 0.5%;
  }

  .small-mg {
    margin-left: 0;
  }

  .select {
    background: url(assets/background.png);
  }

  .works-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1em;
  }

  .works-2-row1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 1em;
    background:
      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(assets/background.png);
  }

  .works-2-no-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 1em;
    background: url(assets/background.png);
    position: relative;
  }

  .works-description-no-items {
    display: none;
  }

  .button-orange-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    align-self: flex-start;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    background-color: #ff6b00;
    width: 100%;
    padding: 0;
    height: 3em;
  }

  .works-2-row2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 1em;
    background:
      linear-gradient(
        179.35deg,
        rgba(38, 38, 38, 0) 0.85%,
        rgba(38, 38, 38, 0.9) 84%
      ),
      url(assets/desktop-row-2.png);
  }

  .works-2-row3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 1em;
    background:
      linear-gradient(
        179.4deg,
        rgba(38, 38, 38, 0) 0.81%,
        rgba(38, 38, 38, 0.9) 84.03%
      ),
      url(assets/desktop-row-3.png);
  }

  /* end works section styles */

  /* about-section styles */
  .abt-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .abtbkg {
    background-image: url("assets/about-desktop.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 50%;
  }

  .content-abt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5% 50% 10% 5%;
  }

  /* footer styles */
  .footer-items {
    display: flex;
    flex-direction: row;
    gap: 3em;
    align-items: baseline;
    margin-bottom: 6em;
  }

  .footer-p {
    width: 37%;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    text-align: left;
    margin-top: 3em;
    color: #262626;
    padding: 2.5em;
    padding-right: 0;
    padding-top: 0;
  }

  .dsk-form {
    width: 45%;
  }

  form {
    align-items: flex-start;
  }

  textarea {
    width: 100%;
  }

  .social-footer {
    width: 200px;
    height: 40px;
  }

  .media-footer {
    font-size: 1.5rem;
  }

  .footer-img {
    display: none;
  }

  .is-link:hover {
    animation-name: font-size;
    animation-duration: 2s;
  }

  @keyframes font-size {
    100% {
      font-size: 150%;
    }
  }

  .popup-img img {
    width: 100%;
  }

  .sectionImg img:hover {
    transform: scale(0.5);
    background-color: #0d151e;
    transition-duration: 1s;
  }

  /* desktop popup styles */

  .popup {
    margin: 10% auto;
    width: 90%;
  }

  .image-text {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-start;
  }

  .popup-img {
    width: 300%;
  }

  .popup-btn {
    padding: 0.2em;
  }

  .popup-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }

  .button-txt {
    width: 500%;
  }
}
