/* mobile menu */
html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.headline {
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82px;
  background: #3c3a39;
  overflow: hidden;
}

#title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  padding-left: 15px;
}

.link {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav > ul {
  display: none;
}

#toggle-menu {
  padding-right: 15px;
}

.item {
  width: 327px;
}

h1 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  height: 160px;
  left: 0;
  top: 124px;
}

#support {
  height: 27px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
  order: 1;
  color: #fff5e1;
}

#description {
  height: 123px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  order: 2;
}

.media {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 200px;
}

.social img {
  width: 20px;
  height: 20px;
  background: hsla(0, 0%, 81%, 0.1);
  margin: 5px;
}

.bgimage {
  background-image: url("assets/illustration-header-mobile.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.grid {
  display: grid;
  grid-template-rows: auto;
  margin: 0 1em;
  margin-bottom: 80px;
}

.item1 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.item1 p {
  color: #091e42;
}

.item1-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 1em;
  background: linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(assets/background.png);
}

.works-p {
  color: #fff;
}

.works-description {
  padding: 3em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.item1 img {
  width: 100%;
}

.grid-title {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  border-bottom: 1px solid black;
  padding: 1em;
  text-align: center;
  margin-bottom: 1em;
}

h3 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin-bottom: 0;
}

.button {
  display: flex;
  padding: 0;
  width: 100%;
}

.button li {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background-color: #fff;
  width: 70px;
  margin-right: 40px;
}

.button-dark li {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  width: 70px;
  margin-right: 30px;
}

.button-orange a {
  color: #fff;
}

.button li a {
  color: #091e42;
  height: 20px;
  border: 1px solid #8993a4;
  padding: 10px 12px;
}

.button-dark li a {
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

.button li a:hover {
  border: 1px solid #8993a4;
  background: #fff5e1;
  color: #f55800;
}

.button-dark {
  display: flex;
  align-items: center;
  color: #091e42;
}

.button-dark li a:hover {
  border: 1px solid #8993a4;
  background: #fff5e1;
  color: #f55800;
}

.button-orange {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #ff6b00;
  width: 100%;
  padding: 10px 12px;
}

button.button-orange:hover {
  background-color: #5b5957;
}

.small-mg {
  width: 130px;
  height: 50px;
  align-self: flex-start;
  padding: 0;
  margin-left: 10px;
}

button.small-mg:hover {
  background-color: #5b5957;
}

h4 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.about {
  background: #1c1a19;
}

.about-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h2 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.flex-paragraph {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.button-resume {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #ff6b00;
  width: 100%;
  padding: 5px;
}
.abtbkg {
  background-image: url("assets/illustration-about-me-mobile.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

#content-abt {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 563px;
  padding: 3em;
}

.hr {
  border: 1px solid white;
  display: block;
  width: 85%;
}

.about-title {
  font-family: "Inter", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.about-li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
}

.disc {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  border-radius: 150px;
  margin-right: 1em;
}

.rsquare {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  transform: rotate(-45deg);
  margin-right: 1em;
  display: block;
}

.square {
  height: 18px;
  width: 18px;
  background: #ff6b00;
  display: block;
  margin-right: 1em;
}

/*footer styles*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.footer-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-p {
  width: 70%;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin-top: 3em;
  color: #172b4d;
  margin-bottom: 2em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

form input {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  margin-bottom: 1.5em;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  background: #fff;
}

textarea {
  background-color: #fbf8f7;
  border: none;
  padding: 1em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  width: 100%;
}

form button {
  background-color: #ff6b00;
  color: #fff;
  border: 0 solid #fff;
  margin-top: 1em;
  padding: 1em;
  margin-bottom: 4em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer-hr {
  border: 1px solid #dfe1e6;
  display: block;
  background: #dfe1e6;
  width: 100%;
}

.social-footer img {
  width: 20px;
  height: 20px;
  background: #505f79;
  margin: 5px;
}

.media-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 170px;
}

button.footer-b:hover {
  border: 1px solid #8993a4;
  background: #fff5e1;
  color: #f55800;
}

button.footer-b:active {
  border: 1px solid #8993a4;
  color: #f55800;
}

.fa {
  color: #505f79;
  margin: 5px;
}

.footer-img {
  margin-bottom: 0.5em;
  background: #0d151e;
  border-radius: 10px;
}
@media (min-width: 768px) {
  nav {
    display: flex;
    align-items: center;
    height: 40px;
    background: #3c3a39;
    overflow: hidden;
  }
  nav > img {
    display: none;
  }
  nav > ul {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 2em;
  }
  nav > ul > li > a {
    color: #fff;
  }
  .title {
    padding-left: 10%;
  }
  .mail {
    margin-right: 6em;
  }
  .headline {
    align-items: flex-start;
  }
  .item {
    width: 40%;
  }
  .container {
    height: 50em;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-left: 8em;
  }

  h1 {
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    height: 160px;
    left: 0;
    top: 192px;
  }

  #support {
    height: 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    order: 1;
    color: #fff;
  }

  #description {
    height: 123px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    order: 2;
  }
  .media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .social {
    position: absolute;
    width: 20px;
    height: 98.96px;
    left: 0;
    top: 340px;
  }

  .social img {
    width: 20px;
    height: 20px;
    background: hsla(0, 0%, 81%, 0.1);
    margin: 5px;
  }
  .bgimage {
    background-image: url("assets/Illustration-header@2x.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50% 95%;
  }

  /*about-section styles*/
  .abt-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .abtbkg {
    background-image: url("assets/about-desktop.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 50%;
  }
  .content-abt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 50% 10% 5%;
  }
  /* footer styles*/
  .footer-items {
    display: flex;
    flex-direction: row;
    gap: 3em;
    align-items: baseline;
    margin-bottom: 6em;
  }
  .footer-p {
    width: 37%;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    text-align: left;
    margin-top: 3em;
    color: #262626;
    padding: 2.5em;
    padding-right: 0;
    padding-top: 0;
  }
  .dsk-form {
    width: 45%;
  }
  form {
    align-items: flex-start;
  }
  textarea {
    width: 100%;
  }
  form button {
    align-self: flex-start;
    margin-bottom: 0;
    margin-top: 1em;
  }
  .social-footer {
    width: 200px;
    height: 40px;
  }
  .footer-img {
    display: none;
  }
}
